<div class="ctr">
<h1>My lessons as a teacher</h1>
<%= link_to user_path(@user) do %>
    <button>Return</button>
<% end %>


<% if @as_teacher.nil? %>
  <p>You are not yet a teacher</p>
  <%= link_to new_teacher_path do %>
    <button>Become a teacher</button>
  <% end %>
<% else %>
  <% @as_teacher.each do |teacher| %>
  <p>Title</p> <%= teacher.title %>
  <p>Description</p><%= teacher.description %>
  <p>Language</p><%= teacher.language %>
  <p>Activity</p><%= teacher.activity %>
  <p>Category</p><%= teacher.category %>
  <p>Price</p><%= teacher.price %>£
  <p>Duration</p><%= teacher.duration %> /h
  <p>Location</p><%= teacher.location %>
  <% end %>
<% end %>
</div>
