<div class="ctr">
<% if @as_teacher.nil? %>
  <p>You are not yet a teacher</p>
  <%= link_to new_teacher_path do %>
    <button>Become a teacher</button>
  <% end %>
<% else %>
  <div class="cards-ctr">
    <% @as_teacher.each do |teacher| %>
    <div class="card">
      <%= image_tag teacher.user.img_url, height:250, width: 350%>
      <div class="card-text">
        <h3>Title: <strong><%= teacher.title %></strong></h3>
        <h3>Language: <strong><%= teacher.language %></strong></h3>
        <h3>Activity: <strong><%= teacher.activity %></strong></h3>
        <h3 class="mb-12">Category: <strong><%= teacher.category %></strong></h3>
        <h4>Price: <strong><%= teacher.price %></strong>£</h4>
        <h4>Duration: <strong><%= teacher.duration %></strong> /h</h4>
        <h4>Location: <strong><%= teacher.location %></strong></h4>
      </div>
      <div class="tag-delete">
        <%= link_to teacher_path(teacher), method: :delete, data: { confirm: "Are you sure?" } do %>
          <p>Delete</p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
</div>
