<%= link_to user_path(@user) do %>
    <button>Return</button>
<% end %>
<div class="cards-ctr">
<% @past_reservations.each do |reservation| %>
  <div class="card-user">
    <p>Teacher: <%= reservation.teacher.user.first_name %><%= reservation.teacher.user.last_name %></p>
    <p>language: <%= reservation.teacher.language %></p>
    <p>activity: <%= reservation.teacher.activity %></p>
    <p>When: <%= reservation.date.strftime('%d/%m/%Y') %></p>
    <p>At: <%= reservation.time.strftime('%Hh%M') %></p>
    <p>Where: <%= reservation.teacher.location %></p>
  </div>
<% end %>
</div>
