<div class="ctr">
  <%# <%= link_to user_path(@user) do %>
    <%# <button>Return</button> %>
  <%# <% end %>
  <div class="cards-ctr">
    <% @past_reservations.each do |reservation| %>
      <div class="card">
        <%= image_tag reservation.teacher.user.img_url, height:250, width: 350%>
        <div class="card-text">
          <h3>Teacher: <%= reservation.teacher.user.first_name %> <%= reservation.teacher.user.last_name %></h3>
          <h3>language: <%= reservation.teacher.language %></h3>
          <h3>activity: <%= reservation.teacher.activity %></h3>
          <h4>When: <%= reservation.date.strftime('%d/%m/%Y') %></h4>
          <h4>At: <%= reservation.time.strftime('%Hh%M') %></h4>
          <h4>Where: <%= reservation.teacher.location %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
