<div class="ctr">
  <%# <%= link_to user_path(@user) do %>
      <%# <button>Return</button> %>
  <%# <% end %>
  <div class="cards-ctr">
  <% @pending_reservations.each do |reservation| %>
    <div class="card">
        <%= image_tag reservation.teacher.user.img_url, height:250, width: 350%>
        <div class="card-text">
          <p>Teacher: <strong><%= reservation.teacher.user.first_name %><%= reservation.teacher.user.last_name %></strong></p>
          <p>language: <strong><%= reservation.teacher.language %></strong></p>
          <p class="mb-12">activity: <strong><%= reservation.teacher.activity %></strong></p>
          <p>When: <strong><%= reservation.date.strftime('%d/%m/%Y') %></strong></p>
          <p>At: <strong><%= reservation.time.strftime('%Hh%M') %></strong></p>
          <p class="mb-12">Where: <strong><%= reservation.teacher.location %></strong></p>
        </div>
    </div>
  <% end %>
  </div>
</div>
