<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to teachers_path, class: "navbar-brand" do %>
    <h1>Talk&do</h1>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to user_path(current_user), class: "nav-link" do %>
            <%= image_tag current_user.img_url, class: "avatar dropdown-toggle" %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
