<div class="cards-ctr" data-filter-target= "list">
  <% @teachers.each do |teacher| %>
    <div class="card">
    <%= image_tag teacher.user.img_url, height:250, width: 350%>
    <div class="card-text">
      <h2><%= teacher.user.first_name %> <%= teacher.user.last_name %></h2>
      <% if teacher.location == 'Online' %>
      <div class="online-tag">
        <p>online</p>
      </div>
      <% else %>
        <h4><%= teacher.location %></h4>
      <% end %>
      <h3 class="pt-12"><%= teacher.language %></h3>
      <h3><%= teacher.activity %></h3>
      <h3 class="bold-text"><%= teacher.price %>£/ <%= teacher.duration %>h</h3>
    </div>
    <%= link_to teacher_path(teacher) do%>
      <button class="btn btn-cherry btn-card"><p>Book</p></button>
    <% end %>
    </div>
  <% end %>
</div>
