<%# navbar rendered %>
<div class= "ctr" data-controller="filter">
  <div class="search-bar">
    <div class="search" id="location-form">
      <%= form_with url: teachers_path, method: :get do %>
        <%= text_field_tag :location,
          params[:location],
          placeholder: "My city"
        %>
        <%= button_tag :submit, class: "btn btn-cherry btn-search", id:"btn-search" do %>
          <p>Search</p><i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>


    <div class="search" id="language">
      <button data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><p>Language<i class="fa-solid fa-caret-down"></i></p></button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= form_with url: teachers_path, id: "form-language", data: { action: "click->filter#sortbylanguage" }, class:"form", remote: true, method: :get do |f| %>
            <div class="checkbox">
              <% @single_languages.each do |language| %>
                <%= f.label :language, language, data: { filter_target: 'languagecheckbox' } %>
                <%= check_box_tag :language, language %>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>

    <div class="search" id="category">
      <button data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><p>Category<i class="fa-solid fa-caret-down"></i></p></button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= form_with url: teachers_path, id: "form-category", data: { action: "click->filter#sortbycategory" }, remote: true, method: :get do |f| %>
            <div class="checkbox">
              <% @single_categories.each do |category| %>
                <%= f.label :language, category, data: { filter_target: 'categorycheckbox' } %>
                <%= check_box_tag :language, category %>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
    <%= render 'teachers/list', teachers: @teachers %>
</div>
