<%# navbar rendered %>

<div class="ctr lesson-flex">
  <div class="description">
      <h2><%= @teacher.title %></h2>
      <h4><%= @teacher.location %></h4>
    <%=image_tag @teacher.user.img_url%>
    <div class="type-text">
      <h3><%= @teacher.language %></h3>
      <h3><%= @teacher.activity %></h3>
    </div>
    <p><%= @teacher.description %></p>
  </div>
  <div class="card-reservation">
    <%= simple_form_for [@teacher, @reservation] do |f| %>
      <h2><%= @teacher.price %>£/ <%= @teacher.duration %>h</h2>
      <%= f.hidden_field :teacher_id, as: :hidden, value: @teacher.id %>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.input :time, as: :time, html5: true %>
      <%= f.button :submit, "Book", class:"btn btn-cherry btn-reservation" %>
    <% end %>
  </div>

</div>
