<!DOCTYPE html>
<html>
  <head>
    <title>TalkanddoWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# font awesome %>
    <script src="https://kit.fontawesome.com/709a8591f6.js" crossorigin="anonymous"></script>

    <%# font google %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

  <div>
    <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= render 'shared/navbar'%>
    <% end %>
  </div>

    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
